<div id="main" class="palm-hasheader">
  <div class="palm-header">sendpos settings</div>

  <div class="palm-group">
    <div class="palm-group-title">Upload</div>
    <div class="palm-list">
      <div class="palm-row first">
	<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
	  <div class="title">
	    <div class="label" x-mojo-loc=''>Post URL</div>
	    <div id="postUrl" x-mojo-element="TextField"></div>
	  </div>
	</div>
      </div> 
      <div class="palm-row">
	<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
	  <div class="title">
	    <div class="label" x-mojo-loc=''>FOAF URI</div>
	    <div id="foaf" x-mojo-element="TextField"></div>
	  </div>
	</div>
      </div>
    </div>
  </div>

  <div class="palm-group">
    <div class="palm-group-title">GPS</div>
    <div class="palm-list">
      <div class="palm-row first">
	<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
	  <div id="maxCache" x-mojo-element="ListSelector"></div>
	</div>
      </div>
      <div class="palm-row">
	<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
	  <div id="accuracy" x-mojo-element="ListSelector"></div>
	</div>
      </div>
      <!-- continuous? -->
    </div>
  </div>
</div>
