<div id="main">
  <div>
    <div style="text-align: center">
      <span class="step" id="getPosition">Get pos</span> <!-- click this to send now--> &#8594;
      <span class="step" id="sendPosition">Send</span> &#8594;
      <span class="step" id="wait">Wait <span id="nextMin">5.00</span> min</span> <!-- click to adjust time or disable -->
    </div>
    <div id="status"></div>
  </div>

  <div class="result">
    <h3>Current</h3>
    <div class="data"> <span id="curtm" class="tm"></span> <span id="cur1"></span></div>
    <div class="data stat" id="cur2"></div>
  </div>
  <div class="result">
    <h3>Previous</h3>
    <div class="data"><span id="prevtm" class="tm">...</span> <span id="prev1">...</span></div>
  </div>

  <canvas id="map" style="border: 1px solid black; background: #dddbf4; width: 300px; height: 200px;">
  </canvas>
  <!-- tab map to flip between which people are displayed and how close -->

  <div style="display: none;">
    <form id="sendOpts">
      <div>Send updates to:</div>
      <div>  <input type="checkbox" name="to" checked="checked"/> kelsi</div>
      <div>  <input type="checkbox" name="to" checked="checked"/> drew</div>
      <div>with message:</div>
      <div> <input type="text" name="msg"/></div>
    </form>
  </div>

  <div x-mojo-element="Button" id="showPeople"></div>
  <div x-mojo-element="Button" id="showTrails"></div>
</div>
