<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>map</title>
    <meta name="viewport" content="width=320; initial-scale=1.0; minimum-scale: .01; user-scalable=yes"/>
  </head>
  <body>
    <div py:for="u in updates">${foafName(u['user'])} last seen ${str(makeTime(u['timestamp']))}, velocity ${u['velocity']}, altitude ${u.altitude} 
    </div>
    <div style="line-height: 50px">
      <a href="history">[history]</a>
      <a href="gmap">[googlemap]</a>
    </div>
    <img src="drawMap.png?history=10" alt="map" width="320" height="320"/>


  </body>
</html>