<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>map</title>
    <meta name="viewport" content="width=320; initial-scale=1.0; minimum-scale: .01; user-scalable=yes"/>


    <style type="text/css">
      /* <![CDATA[ */
      .ctl input {
	  width: 300px;
      }
      #mapArea {
	  width: 600px;
	  height: 400px;
	  background: #dddbf4;
      }
@media screen and (max-device-width: 480px) {
      #mapArea {
	  width: 310px;
      }
}

      .ui-slider-horizontal {
	  height: 20px;
	  width: 250px;
	  display: inline-block;
      }
      /* ]]> */
    </style>

  </head>
  <body class="tundra">
    <div py:for="u in updates">${foafName(u['user'])} last seen ${str(makeTime(u['timestamp']))}, velocity ${u['velocity']}, altitude ${u.altitude} 
    </div>
    <div style="line-height: 50px">
      <a href="history">[history]</a>
      <a href="gmap">[googlemap]</a>
    </div>
    
    <link rel="Stylesheet" type="text/css" href="static/local/jquery-ui-1.8.4.custom/css/ui-lightness/jquery-ui-1.8.4.custom.css" media="all" />

    <canvas id="mapArea"/>
    <div class="ctl">
      <div>scale: <span id="scale"/></div>
      <div id="paramDisplay"/>
    </div>

    <div id="map">
      <img src="drawMap.png?history=10" alt="map" width="320" height="320"/>
      <div>Click map to refresh <span class="loading"/></div>
    </div>
    <div><a href="drawMap.png?width=1000&amp;height=1000">Big map 1000x1000</a></div>
    <div><a href="drawMap.png?width=1000&amp;height=1000&amp;history=100">Big map 1000x1000, longer history 100</a></div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script> 
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>
    <script type="text/javascript" src="static/bundle.js?v=${bundleId}"></script>
    <script type="text/javascript" src="places.js"></script>

    <script type="text/javascript">
      // <![CDATA[
 
  $(function () {
      $("#map").click(function () {
	var img = $("#map img")[0];
	$("#map .loading").text("loading...");
	img.onload = function () { $("#map .loading").text("") };
	img.src = "drawMap.png?history=10&x="+(new Date());
      });
  });
      // ]]>
    </script>
  </body>
</html>
